* {
    margin: 0;
}

body {
    height: 100vh;
    width: 100vw;
    font-family: 'Roboto Condensed', sans-serif;
}

header {
    width: 100%;
    height: 15%;
    background-color: #1b4099;
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    display: flex;
    flex-flow: row;
    width: 100%;
    height: 75%;
    background-image: url('background.jpg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.question {
    color: white;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
}

.team-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    flex: 0 0 20%;
    background-color: #1b4099;
}

.team-name-container {
    width: 100%;
    flex: 0 0 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.team-name {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    font-weight: bold;
    width: 100%;
    text-align: center;
    font-size: 36px;
}

.team-name:focus {
    outline-color: rgba(255, 255, 255, 0);
}

.team-name::placeholder {
    color: white;
}

.points-container {
    width: 70%;
    flex: 0 0 65%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.points {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 7px solid black;
    padding: 5px;
    text-align: center;
    width: 75%;
    height: 100px;
    font-weight: 900;
    font-size: 64px;
    color: white;
    background: rgb(82,152,247);
    background: linear-gradient(34deg, rgba(82,152,247,1) 0%, rgba(27,64,153,1) 100%);
    margin: 0 auto;

}


.board-container {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    flex: 0 0 60%;
}

.total-points {
    margin-bottom: 18px;
    height: 134px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: 7px solid black;
    padding: 5px;
    text-align: center;
    width: 21%;
    font-weight: 900;
    font-size: 64px;
    color: white;
    background: rgb(82,152,247);
    background: linear-gradient(180deg, rgba(82,152,247,1) 0%, rgba(27,64,153,1) 100%);
    margin: 0 auto;
}

.answer-container {
    width: 75%;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.answer {
    position: relative;
    flex: 0 0 46%;
    display: flex;
    border: 3px solid rgb(197, 197, 197);
    height: 94px;
    margin: 10px;
    background: rgb(82,152,247);
    background: linear-gradient(180deg, rgba(82,152,247,1) 0%, rgba(27,64,153,1) 100%);
    cursor: pointer;
}

.answer-info {
    flex: 0 0 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
}

.answer-text {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 900;
    font-size: 64px;
    flex: 1 0 70%;
    display: none;
    text-transform: capitalize;
    background-color: #0f1641;
}

.answer-points {
    align-items: center;
    justify-content: center;
    display: flex;
    flex: 0 0 30%;
    color: white;
    font-weight: 900;
    font-size: 64px;
    display: none;
}

.number-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.number {
    flex: 0 0 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    color: white;
    width: 61px;
    height: 63px;
    font-size: 55px;
    background-color: #1d2975;
    border-radius: 50%;
    border: 2px solid white;
    display: none;
}

.no-click {
    pointer-events: none;
}


footer {
    height: 10%;
    background-color: #1b4099;
}

/* dark blue #1b4099
light blue #5298f7
number blue #1d2975 */